<!DOCTYPE html>
<html lang="en">
<head>
  <title>MrLeoRythmAndSoul - Gallery</title>
  
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/gallery.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <script src="/scripts/header.js" defer></script>
</head>
<body>
  <header></header>
  <!-- Gallery Section -->
<div class="gallery">
  <!-- Strip 1 -->
  <div class="gallery__strip__wrapper">
    <div class="gallery__strip one">
      <div class="photo">
        <div class="photo__image"><img src="/images/gallerypic06.png" alt="Group Photo"></div>
        
      </div>
      <div class="photo">
        <div class="photo__image"><img src="/images/gallerypic07.png" alt="Group Photo"></div>
      </div>
    </div>
  </div>

  <!-- Strip 2 -->
  <div class="gallery__strip__wrapper">
    <div class="gallery__strip two">
      <div class="photo">
        <div class="photo__image"><img src="/images/fbgrouppic03.jpg" alt="Lead Singer"></div>
      </div>
      <div class="photo">
        <div class="photo__image"><img src="/images/fbgrouppic02.jpg" alt="Guitarist"></div>
        
      </div>
    </div>
  </div>

  <!-- Strip 3 -->
  <div class="gallery__strip__wrapper">
    <div class="gallery__strip three">
      <div class="photo">
        <div class="photo__image"><img src="/images/gallerypic09.png" alt="Miyah"></div>
        
      </div>
      <div class="photo">
        <div class="photo__image"><img src="/images/gallerypic01.jpg" alt="Tay"></div>
      </div>
    </div>
  </div>

  <!-- Strip 4 -->
  <div class="gallery__strip__wrapper">
    <div class="gallery__strip four">
      <div class="photo">
        <div class="photo__image"><img src="/images/gallerypic01.jpg" alt="Booking Manager"></div>
        
      </div>
      <div class="photo">
        <div class="photo__image"><img src="/images/gallerypic08.png" alt="Group Photo"></div>
        
      </div>
    </div>
  </div>
</div>

<!-- Make sure this is AFTER the HTML above -->
</body>
</html>